#wholepage {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#namecontainer {
    float: left;
    position: relative;
    background-color: #4da8a3;
    height: 85px;
    width: 230px;
}
#name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 33%;
    margin:auto;
    text-align:center;
    font-weight:bold;
    font-size:24px;
    color: #fffefc;

    font-family: 'Georgia', Times, Times New Roman, serif;
}
#middle {
    clear:both;
}
#topright {

}
#sidebar {

}
#copyright {

}

