.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: darkgray;
    border-top: 8px solid #4aaaa5;
}
html {
    position: relative;
    min-height: 100%;
}    
body {
    margin-bottom: 108px;
}
